{deps_dir, ["deps"]}.
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps",
            "deps",
            "apps/skel"]}. %% adjust this if you rename the applicaton folder

{deps, [
%%  {n2o, ".*", {git, "git://github.com/5HT/n2o.git", {tag, "1.9.0"}}} %% using a tagged version
    {n2o, ".*", {git, "git://github.com/5HT/n2o.git", {branch, "master"}}} %% or a master branch
]}.
